/* 
Citation for the following code:
Date: 06/08/2026
Copied from Oregon State University Summer 2026 - CS340 Intro to Databases
Week 6 Building Your Project UI - Exploration: Web Application Technology
(Explain Degree of Originality): Copied/pasted the starter code
Source URL: https://canvas.oregonstate.edu/courses/2051721/pages/exploration-web-application-technology-2
*/

h1, h2 { 
    margin-left: 16px;
}

table {
    border-collapse: collapse;
    margin-left: 32px;
}

th, td {
    border: 2px solid #ddd;
    border-color: white;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr{
    font-weight: 100;
}

tr:nth-child(even) {
    /*background-color: #f9f9f9;*/
    background-color: #cfe0e8
}

.cuForm { 
    margin-left: 32px;
}

input, select { 
    margin-bottom: 4px;
    margin-right: 12px;
}

nav {
    background-color: #cecece;
    padding: 16px;
}

a {
    margin-left: 16px;
}

.homepageDescription {
    margin-left: 32px;
}

body {
    background-color: #87bdd8;
}

#reset-nav{
    color:red;
    font-weight: bold;
}

#delete-daisy-nav{
    color:red;
    font-weight: bold;
}

#delete-daisy-nav:hover, #reset-nav:hover {
    background-color: yellow;
}

#reset-button{
    background-color: rgb(255, 181, 53);
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

#reset-button:hover {
    background-color: white;
    color: rgb(255, 181, 53);
}

/*
Citation for the following code: Styling Submit Inputs and Buttons
Date: 12/08/2026
Copied from W3Schools
W3 Schools Styling Input Buttons 
(Explain Degree of Originality): Copied/pasted then adapted
Source URL: https://www.w3schools.com/css/tryit.asp?filename=trycss_form_button
*/
input[type=submit] {
  background-color: #4463B2;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

input[type=submit]:hover {
    background-color: white;
    color: #4463B2;
}

button[type=submit] {
  background-color: #4463B2;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

button[type=submit]:hover {
    background-color: white;
    color: #4463B2;
}

/*
Citation for the following code: Border Style
Date: 12/08/2026
Copied from W3Schools
W3 Schools Border Styling
(Explain Degree of Originality): Copied/pasted then adapted
Source URL: https://www.w3schools.com/css/css_border.asp
*/
.home-p {
  border: 2px solid white; 
  margin: 25px;
  padding: 50px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5) ;
}


.helper-header{
    color:rgb(176, 169, 169);
}


/*
Citation for the following code: Background Image
Date: 12/08/2026
Copied from W3Schools
W3 Schools Background Image
(Explain Degree of Originality): Copied/pasted then adapted
Source URL: https://www.w3schools.com/html/html_images_background.asp
*/

body {
  background-image: url('aquarium.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


.footer-p{
    text-align: center;
    color: whitesmoke;
    margin: 5%;
}